/* by Tobias Drechsler & Damian Kawalec */
/* Sektoren */
header  {height:100vh; width:100%; background-image:url(../images/atemlos_bg.jpg); background-size:cover; background-repeat:no-repeat; background-position:center 0px; background-attachment:fixed;}
#about  {height:100vh; width:100%; background:grey;}

/** Inhalt **/
/* Header-Sektor */
